.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .btn {
    margin-bottom: 1rem;

    &-delete {
      background-color: transparent;
      border: 1px solid #dc3a3a;
      color: #dc3a3a;

      &:hover {
        background-color: #ffeaea;
      }
    }
  }
}
