.offer-table {
  width: 100%;
  display: flex;

  &-column {
    width: 50%;
    display: flex;
    flex-direction: column;

    .header {
      font-size: 1.2rem;
      padding: 1rem;
      border: 1px solid black;
      border-left: none;
    }

    .offers-container {
      padding: 1rem;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      height: 100%;

      .time-from-to input:first-child {
        margin-right: 1rem;
      }

      .info-text {
        color: #E40000;
      }
    }

    &.right-side {
      & > * {
        border-right: none;
      }
    }

    .search-again-link {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }
  }
}
