<nav class="nav">
  <div class="nav-content">
    <div class="site-logo">AUCTION AUTOMATION</div>
    <div class="nav-menu">
      <div [ngClass]="{'active': currentUrl.includes('action-creator')}" routerLink="/action-creator"
           class="nav-menu-element">Action creator
      </div>
      <div [ngClass]="{'active': currentUrl.includes('your-actions')}" routerLink="/your-actions"
           class="nav-menu-element">Your actions
      </div>
      <div [ngClass]="{'active': currentUrl.includes('shops')}" routerLink="/shops"
           class="nav-menu-element">Shops
      </div>
      <div class="nav-menu-element logout" (click)="logout()">Logout</div>
      <div class="nav-menu-element user-email">{{userEmail}}</div>
    </div>
  </div>
</nav>
