body {
  margin: 0;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

h2 {
  padding-top: 0.5rem;
  border-top: 1px solid gray;
  margin-bottom: 1.5rem;
}

.section:not(:last-of-type) {
  margin-bottom: 5rem;
}

.form-control {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 5px;
  }

  .check-input-container {
    height: 70px;
    display: flex;
    align-items: center;

    & > * {
      margin-right: 0.5rem;
    }

    .input-container {
      position: relative;

      label {
        position: absolute;
        top: -24px;
      }

      input.price-input {
        text-align: right;
      }
    }
  }
}

input, select {
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
}

.button-container {
  margin-top: 1rem;
}

.btn {
  background-color: #fff1d1;
  padding: 0.3rem 1rem;
  border: 1px solid #313131;
  transition: 0.05s ease-out;
  font-size: 1rem;
  border-radius: 4px;

  &:hover {
    background-color: #fae6bb;
    cursor: pointer;
  }

  &:disabled, &:disabled:hover {
    background-color: #d9cdb2;
    border-color: rgba(16, 16, 16, 0.3);
  }
}

.link {
  text-decoration: underline;
  color: #ad7a46;
  transition: 0.05s ease-out;

  &:hover {
    color: #ea9f5e;
    cursor: pointer;
  }
}

.info-text {
  max-width: 400px;
  margin-bottom: 1rem;

  .bold-text {
    margin-bottom: 0.5rem;
  }
}

.bold-text {
  font-weight: bold;
}

.parameter {
  margin-bottom: 0.7rem;

  &-name {
    font-weight: bold;
  }
}

.site-logo {
  font-size: 2rem;
  font-weight: bold;
  margin: auto 0 auto 2rem;
  color: #fae6bb;
}

.page-wrapper {
   width: 100%;
   background-color: #e1e9f1;
   padding: 160px 50px 100px 50px;
  min-height: 100vh;

   .page-content-container {
     width: 85%;
     background-color: white;
     margin: 0 auto;
     padding: 3rem;
     box-shadow: 0 0 20px #b7b7b7;
     border-radius: 5px;
   }
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
